Ibw\JobeetBundle\Entity\Job:
    properties:
        category:
            - NotBlank: ~
        type:
            - NotBlank: ~
            - Choice: { callback: getTypeValues }
        company:
            - NotBlank: ~
        file:
            - Image:
                maxSize: 6000000
        position:
            - NotBlank: ~
        location:
            - NotBlank: ~
        description:
            - NotBlank: ~
        how_to_apply:
            - NotBlank: ~
        email:
            - NotBlank: ~
            - Email: ~
        url:
            - Url: ~

Ibw\JobeetBundle\Entity\Affiliate:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: email
    properties:
        url:
            - Url: ~
        email:
            - NotBlank: ~
            - Email: ~

Ibw\JobeetBundle\Entity\Article:
    properties:
        title:
            - NotBlank: ~
        slug:
            - NotBlank: ~
        body:
            - NotBlank: ~
