/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/phpunit.xml.dist
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/data/
/web/cov/
/web/uploads/
